<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.425418329034-59ru0nsf83ho5p06oket35845g3cgp2g</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>753966121460-37mo2vb281fukt4hnfar63ece7sajr2e.apps.googleusercontent.com</string>
</dict>
</plist>
